html {
	margin: 0;
	padding: 0;
}

body {
  background: #051a10;
  font-family: arial;
  overflow: hidden;
  width: 100%;
  margin: 0;
	padding: 0;

  
}
#app {
  margin: 0;
	padding: 0;
}


#root {
  margin-left: 2.5rem;
}

